.title--light {
    font-size: 18.4px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    margin-left: 5px;
}

.title--dark {
    font-size: 18.4px;
    font-weight: 700;
    color: azure;
    font-family: "Montserrat", sans-serif;
    margin-left: 5px;
}

.accordion__panel {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.daily--item--white {
    background-color: rgba(255, 255, 255, 0.35);
    height: 27px;
    margin: 5px;
    display: flex;
    align-items: center;
    font-size: 11.2px;
    padding: 5px 20px;
}

.daily--item--white1 {
    background-color: rgba(255, 255, 255, 0.35);
    height: 27px;
    display: flex;
    align-items: center;
    font-size: 11.2px;
    padding: 5px 20px;
}

.daily--item--dark {
    background-color: rgb(0, 0, 0, 0.35);
    height: 27px;
    margin: 5px;
    display: flex;
    align-items: center;
    font-size: 11.2px;
    padding: 5px 20px;
}

.daily--item--dark1 {
    background-color: rgb(0, 0, 0, 0.35);
    height: 27px;
    display: flex;
    align-items: center;
    font-size: 11.2px;
    padding: 5px 20px;
}

.accordion{
    cursor: pointer;
}

.icon--small {
    width: 32px;
}

img.icon--small {
    background-color: rgb(0, 0, 0, 0);
}

.day--light {
    font-family: "Montserrat", sans-serif;
    flex: 1 1;
    font-weight: 600;
    margin-left: 16px;
    background-color: rgb(0, 0, 0, 0);
}

.day--dark {
    font-family: "Montserrat", sans-serif;
    color: azure;
    flex: 1 1;
    font-weight: 600;
    margin-left: 16px;
    background-color: rgb(0, 0, 0, 0);
}

.description--light {
    flex: 1 1;
    font-family: "Noto Sans", sans-serif;
    font-style: italic ;
    margin-left: 10px;
    margin-right: 15px;
    text-align: right;
    background-color: rgb(0, 0, 0, 0);
}

.description--dark {
    color: azure;
    font-family: "Noto Sans", sans-serif;
    font-weight: 300;
    margin-left: 10px;
    flex: 1 1;
    font-style: italic ;
    margin-right: 15px;
    text-align: right;
    background-color: rgb(0, 0, 0, 0);
}

.min-max--light {
    color: #000000;
    font-style: italic;
    background-color: rgb(0, 0, 0, 0);
}

.min-max--dark {
    color: rgb(198, 212, 212);
    font-style: italic;
    background-color: rgb(0, 0, 0, 0);
}

.daily--grid {
    grid-row-gap: 0;
    grid-column-gap: 15px;
    row-gap: 0;
    column-gap: 15px;
    display: grid;
    flex: 1 1;
    grid-template-columns: auto auto;
    padding: 5px 15px;
}

.grid--item--dark, .grid--item--light {
    display: flex;
    align-items: center;
    height: 24px;
    justify-content: space-between;
    backdrop-filter: blur(10px);
}

.grid--item--light label:first-child {
    font-family: "Noto Sans", sans-serif;
    font-size: smaller;
    color: #000000;

}
.grid--item--light label:last-child {
    font-family: "Noto Sans", sans-serif;
    font-size: smaller;

}
.grid--item--dark label:first-child {
    font-family: "Noto Sans", sans-serif;
    font-size: smaller;
    color: rgba(255, 255, 255, 0.75
    );

}
.grid--item--dark label:last-child {
    font-family: "Noto Sans", sans-serif;
    font-size: smaller;
    color: azure;

}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}