.weather--dark {
    width: 400px;
    border-color: rgb(0, 136, 255);
    border-style: solid;
    box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
    color: white;
    background-color: #000000;
    margin: 20px auto 0 auto;
    padding: 0 20px 20px 20px;
}

.weather--light {
    width: 400px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
    color: rgb(0, 0, 0);
    background-color: rgb(203, 217, 255);
    margin: 20px auto 0 auto;
    padding: 0 20px 20px 20px;
}

.top, .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.city {
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    margin: 0;
    letter-spacing: 1px;
}

.weather--description {
    font-style: italic;
    font-size: 19px;
    line-height: 1;
    margin: 0;
}

.weather--icon {
    width: 100px;
}

.temperature {
    font-weight: 600;
    font-size: 93px;
    width: auto;
    letter-spacing: -5px;
    margin: 10px 0;
}

.details {
    width: 100%;
    padding-left: 20px;
}

.parameter--row {
    display: flex;
    justify-content: space-between;
}

.parameter--label {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
}

.parameter--value {
    text-align: right;
    font-weight: 600;
    font-size: 16px;
}