.container--dark-0 {
  height: 100%;
  min-height: 100vh;
  background-image: url('components/images/cloudd0.jpg');
  background-size: 1920px 1080px;
}

.container--dark-1 {
  height: 100%;
  min-height: 100vh;
  background-image: url('components/images/cloudd1.jpg');
  background-size: 1920px 1080px;
}

.container--dark-2 {
  height: 100%;
  min-height: 100vh;
  background-image: url('components/images/cloudd2.jpg');
  background-size: 1920px 1080px;
}

.container--dark-3 {
  height: 100%;
  min-height: 100vh;
  background-image: url('components/images/cloudd3.jpg');
  background-size: 1920px 1080px;
}

.container--dark-4 {
  height: 100%;
  min-height: 100vh;
  background-image: url('components/images/cloudd4.jpg');
  background-size: 1920px 1080px;
}

.container--dark-5 {
  height: 100%;
  min-height: 100vh;
  background-image: url('components/images/cloudd5.jpg');
  background-size: 1920px 1080px;
}

.container--dark-6 {
  height: 100%;
  min-height: 100vh;
  background-image: url('components/images/cloudd6.jpg');
  background-size: 1920px 1080px;
}

.container--dark-7 {
  height: 100%;
  min-height: 100vh;
  background-image: url('components/images/cloudd7.jpg');
  background-size: 1920px 1080px;
}

.container--dark-8 {
  height: 100%;
  min-height: 100vh;
  background-image: url('components/images/cloudd8.jpg');
  background-size: 1920px 1080px;
}

.container--dark-9 {
  height: 100%;
  min-height: 100vh;
  background-image: url('components/images/cloudd9.jpg');
  background-size: 1920px 1080px;
}

.container--light-0 {
  height: 100%;
  min-height: 100vh;
  background-image: url('components/images/cloudw0.jpg');
  background-size: 1920px 1080px;
}

.container--light-1 {
  height: 100%;
  min-height: 100vh;
  background-image: url('components/images/cloudw1.jpg');
  background-size: 1920px 1080px;
}

.container--light-2 {
  height: 100%;
  min-height: 100vh;
  background-image: url('components/images/cloudw2.jpg');
  background-size: 1920px 1080px;
}

.container--light-3 {
  height: 100%;
  min-height: 100vh;
  background-image: url('components/images/cloudw3.jpg');
  background-size: 1920px 1080px;
}

.container--light-4 {
  height: 100%;
  min-height: 100vh;
  background-image: url('components/images/cloudw4.jpg');
  background-size: 1920px 1080px;
}

.container--light-5 {
  height: 100%;
  min-height: 100vh;
  background-image: url('components/images/cloudw5.jpg');
  background-size: 1920px 1080px;
}

.container--light-6 {
  height: 100%;
  min-height: 100vh;
  background-image: url('components/images/cloudw6.jpg');
  background-size: 1920px 1080px;
}

.container--light-7 {
  height: 100%;
  min-height: 100vh;
  background-image: url('components/images/cloudw7.jpg');
  background-size: 1920px 1080px;
}

.container--light-8 {
  height: 100%;
  min-height: 100vh;
  background-image: url('components/images/cloudw8.jpg');
  background-size: 1920px 1080px;
}

.container--light-9 {
  height: 100%;
  min-height: 100vh;
  background-image: url('components/images/cloudw9.jpg');
  background-size: 1920px 1080px;
}

.nav--title{
  margin-right: auto;
  margin-top: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  background-color: rgba(0, 0, 0, 0);
}

.toggler {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
}

.toggler p {
  font-size: 0.5rem;
  font-weight: 600;
}

.toggler--slider {
  width: 25px;
  height: 13px;
  background-color: #2B283A;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
}

.toggler--light {
  color: #2B283A;
}

.toggler--dark {
  color: #04010e;
}

nav {
  display: flex;
  align-items: end;
  background-color: rgba(255, 255, 255);
  padding: 20px 25px;
  height: 20px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

nav.dark {
  background-color: rgba(0, 0, 0, 0.5);
}

nav.dark .toggler--light {
  color: #dfdde7;
}

nav.dark .toggler--dark {
  color: #dfdde7;
}

nav.dark .toggler--slider {
  justify-content: flex-end;
}

nav.dark .toggler--slider {
  border-color: white;
  background-color: #F5F5F5;
}

nav.dark .toggler--slider--circle {
  background-color: black;
}

nav.dark .nav--title {
  color: azure;
  background-color: rgba(0, 0, 0, 0);
  font: "Noto Sans", sans-serif;
}

main.dark {
  background-color: #04010e;
  color: antiquewhite;
}

/*
.css-1jl2nnn-menu, .css-an2ocs-singleValue, .css-p4kzcr-Input{
  font-weight: "Noto Sans", sans-serif;
  font-size: 12px;
}
*/